<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianbao.buy.dao.ClassMapper">
  <resultMap id="BaseResultMap" type="com.tianbao.buy.model.Class">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="tag_ids" jdbcType="VARCHAR" property="tagIds" />
    <result column="main_pic1" jdbcType="VARCHAR" property="mainPic1" />
    <result column="main_pic2" jdbcType="VARCHAR" property="mainPic2" />
    <result column="main_pic3" jdbcType="VARCHAR" property="mainPic3" />
    <result column="main_pic4" jdbcType="VARCHAR" property="mainPic4" />
    <result column="main_pic5" jdbcType="VARCHAR" property="mainPic5" />
    <result column="sub_pic1" jdbcType="VARCHAR" property="subPic1" />
    <result column="sub_pic2" jdbcType="VARCHAR" property="subPic2" />
    <result column="sub_pic3" jdbcType="VARCHAR" property="subPic3" />
    <result column="sub_pic4" jdbcType="VARCHAR" property="subPic4" />
    <result column="sub_pic5" jdbcType="VARCHAR" property="subPic5" />
    <result column="training_effect" jdbcType="VARCHAR" property="trainingEffect" />
    <result column="crowd" jdbcType="VARCHAR" property="crowd" />
    <result column="faq" jdbcType="VARCHAR" property="faq" />
    <result column="care" jdbcType="VARCHAR" property="care" />
    <result column="coach_id" jdbcType="BIGINT" property="coachId" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
</mapper>